.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* New styles for sticky footer */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.App-footer {
  background-color: #0056b3;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Background Image */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/Disease_prediction.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: 1;
  opacity: 0.5;
}